<%= form_for(@task, url: { controller: :tasks, action: :create }) do |f| %>
	<div class="form-container">
	<%= render 'layouts/error_messages', f: f.object %>

    <%= f.label :title, "授業名", class: "form-label" %>
	<%= f.text_field :title, class: 'form' %>

	<%= f.label :start_time, "日時", class: "form-label" %>
	<br>

    <%= f.date_select :start_time %>
	<br>

	<%= f.label :content, "課題の内容", class: "form-label" %>
	<br>

	<%= f.text_area :content, class: 'form-content', size: "25x15" %>
	<%= f.submit "授業を登録", class: "btn btn-primary form-btn" %>
	</div>
<% end %>
