<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h1 class="class-title"><%= @task.title %></h1>
			<p><%= @task.start_time.strftime("%Y-%m-%d") %></p>
			<p class="class-content"><%= @task.content %></p>
		</div>
	</div>


	<%= link_to "編集", "/tasks/#{@task.id}/edit" %>
	<%= link_to "削除", "/tasks/#{@task.id}", method: :delete, data: { confirm: '削除しますか？' } %>

</div>