<%= form_for(@user, url: { controller: :users, action: :create }) do |f| %>
	<div class="form-container">
	<%= render 'layouts/error_messages', f: f.object %>
			
	<%= f.label :email %>
	<%= f.text_field :email, class: 'form' %>
	
	<%= f.label :password %>
	<%= f.password_field :password, class: 'form' %>

	<%= f.submit "新規登録", class: "submit-btn" %>
	</div>
<% end %>

