

<section class="sign-up">
  <div class="container">
    <h2>新規登録</h2>
  	<%= form_for(@user, url: { controller: :users, action: :create }) do |f| %>

      <div class="field">
        <%= f.label :"メールアドレス" %><br />
				<%= f.text_field :email, class: 'form' %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %><br />
				<%= f.password_field :password, class: 'form' %>
      </div>

      <div class="actions">
        <%= f.submit "登録する", class: "submit-btn" %>
      </div>

    <% end %>

  </div>
</section>  