<section class="mypage">
  <div class="container">
    <div class="mypage-wrap">
      <div class="mypage-box">
        <div class="user-img img-box">
          <% if @user.team_img.blank? %>
            <%= link_to("/users/#{session[:user_id]}/edit")do %>
              <p class="img-message">画像を登録してください</p>
            <% end %>
          <% else %>
            <img src=<%= @user.team_img %> class = "icon_image">
          <% end %>
        </div>
        <div class="user-area">
          <h3 class="mt-5 mb-4"><%= @user.team_name %></h3>
          <div class="user-data">
            <div class="data-title">
              <p>活動エリア</p>
              <p>レベル</p>
            </div>
            <div class="data-content">
              <p><%= @user.area %></p>
              <p><%= @user.level %></p>
            </div>
          </div>
        </div>
        <div class="my-matches pt-3">
          <button class="submit-btn mb-4"><li class="header-item"><%= link_to "メッセージ", "/users/#{@user.id}/messages" %></li> </button>
          <h3 class="mt-3">募集中の試合</h3>
          <% @user.matches.each do |match| %>
            <div class="my-match">
              <%= link_to("/matches/#{match.id}") do %>
                <p><%= match.title %></p>
              <% end %>
            </div>
          <% end %>
          <button class="submit-btn mb-4"><li class="header-item"><%= link_to "試合相手を募集する", "/matches/new" %></li> </button>
        </div>
      </div>
    </div>
  </div>
</section>