<div class="header">
    <%= link_to "DoBA", root_url, class: "logo" %>
    <% if  session[:user_id] %>
      <ul class="header-list">
        <li class="header-item"><%= link_to "募集する", "/matches/new" %></li> 
        <li class="header-item"><%= link_to "相手を探す", "/matches" %></li> 
        <li class="header-item"><%= link_to "ユーザー情報", "/users/#{session[:user_id]}/edit" %></li> 
        <li class="header-item"><%= link_to "マイページ", "/users/show" %></li> 
        <li class="header-item"><%= link_to "ログアウト", "/logout", method: :delete %></li> 
      </ul>
    <% else %>
      <ul class="header-list">
        <li class="header-item"><%= link_to "ログイン", "/login_form" %></li>
        <li class="header-item"><%= link_to "新規登録", "/users/new" %></li>
      </ul>
    <% end %>
</div>